* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  color: #34355B;
}

body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  background-size: 200% 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: gradient 10s ease infinite;
}

main {
  margin-top: -12rem;
  background-color: white;
  border-radius: .5rem;
  width: min(42.8rem, 90%);
  padding: 6rem 6rem;
  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 8);
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.screen1 p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.screen2 {
  display: grid;
  place-items: center;
}

#cookieFortune {
  border: none;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

#cookieFortune:hover {
  cursor: pointer;
  opacity: 0.9;
  animation: shake 0.5s ease-in-out;
}

/* IMPORTANTE PARA TROCAR AS TELAS */
.hide {
  display: none; 
}

.screen2 #fortune {
  font-family: "Dancing Script", sans-serif;
  font-size: 2.4rem;
  padding: 1rem;
  width: 27rem;
  background-color: #E4EDF1;
  color: black;
  font-weight: 400;
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.25);
  text-align: center;
  animation-name: toFadeIn;
  animation-duration: 1.5s;
}

#broken {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#resetButton {
  font-family: "DM Sans", sans-serif;
  color: white;
  border: none;
  text-decoration: none;
  background-color: #FF9500;
  padding: 1.6rem;
  border-radius: .4rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

#resetButton:hover {
  opacity: 0.9;
}

/* animação do gradiente*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-6px, 6px);
  }

  50% {
    transform: translate(6px, -6px);
  }

  75% {
    transform: translate(-6px, -6px);
  }

  100% {
    transform: translate(6px, 6px);
  }
}

@keyframes toFadeIn {
  0% {
    transform:
    translateY(150px)
    scale(0.1);

  }

  100% {
    transform:
    translateY(0px)
    scale(1);
  }
}